USE [master]
GO
/****** Object:  Database [RegistrMeeting]    Script Date: 25.11.2023 12:24:28 ******/
CREATE DATABASE [RegistrMeeting]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RegistrMeeting', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ELENA\MSSQL\DATA\RegistrMeeting.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RegistrMeeting_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.ELENA\MSSQL\DATA\RegistrMeeting_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RegistrMeeting].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RegistrMeeting]
GO
/****** Object:  Table [dbo].[activ]    Script Date: 25.11.2023 12:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[activ](
	[ID_activ] [int] IDENTITY(1,1) NOT NULL,
	[№] [float] NULL,
	[Наименование мероприятия] [nvarchar](255) NULL,
	[Дата начала] [datetime] NULL,
	[Дни] [float] NULL,
	[Активность] [nvarchar](255) NULL,
	[День] [float] NULL,
	[Время начала] [datetime] NULL,
	[Модератор] [nvarchar](255) NULL,
	[Жюри 1] [nvarchar](255) NULL,
	[Жюри 2] [nvarchar](255) NULL,
	[Жюри 3] [nvarchar](255) NULL,
	[Жюри 4] [nvarchar](255) NULL,
	[Жюри 5] [nvarchar](255) NULL,
	[Победитель] [nvarchar](255) NULL,
	[_] [nvarchar](255) NULL,
 CONSTRAINT [PK_activ] PRIMARY KEY CLUSTERED 
(
	[ID_activ] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[city]    Script Date: 25.11.2023 12:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[ID_city] [int] IDENTITY(1,1) NOT NULL,
	[number] [int] NULL,
	[flag] [nvarchar](max) NULL,
	[name] [nvarchar](max) NULL,
 CONSTRAINT [PK_city1] PRIMARY KEY CLUSTERED 
(
	[ID_city] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[country]    Script Date: 25.11.2023 12:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[country](
	[ID_country] [int] IDENTITY(1,1) NOT NULL,
	[Название страны] [nvarchar](255) NULL,
	[Английское название] [nvarchar](255) NULL,
	[Код] [nvarchar](255) NULL,
	[Код2] [float] NULL,
 CONSTRAINT [PK_country_1] PRIMARY KEY CLUSTERED 
(
	[ID_country] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[juri]    Script Date: 25.11.2023 12:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[juri](
	[ID_juri] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL,
	[почта] [nvarchar](255) NULL,
	[дата рождения] [datetime] NULL,
	[страна] [float] NULL,
	[телефон] [nvarchar](255) NULL,
	[направление] [nvarchar](255) NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL,
 CONSTRAINT [PK_juri] PRIMARY KEY CLUSTERED 
(
	[ID_juri] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meet]    Script Date: 25.11.2023 12:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meet](
	[№] [int] NOT NULL,
	[Событие] [nvarchar](255) NULL,
	[DATE] [datetime] NULL,
	[DAYS] [float] NULL,
	[Город] [float] NULL,
 CONSTRAINT [PK_meet_1] PRIMARY KEY CLUSTERED 
(
	[№] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moder]    Script Date: 25.11.2023 12:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moder](
	[ID_moder] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL,
	[почта] [nvarchar](255) NULL,
	[дата рождения] [datetime] NULL,
	[страна] [float] NULL,
	[телефон] [nvarchar](255) NULL,
	[направление] [nvarchar](255) NULL,
	[мероприятие] [nvarchar](255) NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL,
 CONSTRAINT [PK_moder_1] PRIMARY KEY CLUSTERED 
(
	[ID_moder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organizator]    Script Date: 25.11.2023 12:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organizator](
	[ID_organizator] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](255) NULL,
	[Почта] [nvarchar](255) NULL,
	[Дата рождения] [datetime] NULL,
	[страна] [float] NULL,
	[телефон] [nvarchar](255) NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL,
 CONSTRAINT [PK_organizator_1] PRIMARY KEY CLUSTERED 
(
	[ID_organizator] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[student]    Script Date: 25.11.2023 12:24:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[student](
	[ID_student] [int] IDENTITY(1,1) NOT NULL,
	[ФИО] [nvarchar](255) NULL,
	[Почта] [nvarchar](255) NULL,
	[дата рождения] [datetime] NULL,
	[страна] [float] NULL,
	[телефон] [float] NULL,
	[пароль] [nvarchar](255) NULL,
	[фото] [nvarchar](255) NULL,
	[пол] [nvarchar](255) NULL,
 CONSTRAINT [PK_student] PRIMARY KEY CLUSTERED 
(
	[ID_student] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[activ] ON 

INSERT [dbo].[activ] ([ID_activ], [№], [Наименование мероприятия], [Дата начала], [Дни], [Активность], [День], [Время начала], [Модератор], [Жюри 1], [Жюри 2], [Жюри 3], [Жюри 4], [Жюри 5], [Победитель], [_]) VALUES (1, 1, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09T00:00:00.000' AS DateTime), 2, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, N'Ершова Нора Федотовна', NULL)
INSERT [dbo].[activ] ([ID_activ], [№], [Наименование мероприятия], [Дата начала], [Дни], [Активность], [День], [Время начала], [Модератор], [Жюри 1], [Жюри 2], [Жюри 3], [Жюри 4], [Жюри 5], [Победитель], [_]) VALUES (2, NULL, NULL, NULL, NULL, N'Лидерство в бизнесе', 1, CAST(N'1899-12-30T09:00:00.000' AS DateTime), N'Царева Виктория Давидовна', N'Галкина Верона Васильевна', NULL, N'Маслова Марфа Феликсовна', N'Ларионова Марина Владимировна', N'Ларионова Марина Владимировна', NULL, NULL)
INSERT [dbo].[activ] ([ID_activ], [№], [Наименование мероприятия], [Дата начала], [Дни], [Активность], [День], [Время начала], [Модератор], [Жюри 1], [Жюри 2], [Жюри 3], [Жюри 4], [Жюри 5], [Победитель], [_]) VALUES (3, NULL, NULL, NULL, NULL, N'Технология принятия решений', 2, CAST(N'1899-12-30T10:45:00.000' AS DateTime), N'Зорин Дмитрий Маркович', N'Герасимова Айлин Ефимовна', N'Большаков Августин Алексеевич', N'Гришин Вениамин Петрович', N'Маслова Марфа Феликсовна', N'Маслова Марфа Феликсовна', NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[activ] OFF
GO
SET IDENTITY_INSERT [dbo].[city] ON 

INSERT [dbo].[city] ([ID_city], [number], [flag], [name]) VALUES (1, 3, NULL, N'Абдулино')
INSERT [dbo].[city] ([ID_city], [number], [flag], [name]) VALUES (2, 4, NULL, N'Абинск')
INSERT [dbo].[city] ([ID_city], [number], [flag], [name]) VALUES (3, NULL, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[city] OFF
GO
SET IDENTITY_INSERT [dbo].[country] ON 

INSERT [dbo].[country] ([ID_country], [Название страны], [Английское название], [Код], [Код2]) VALUES (1, N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[country] ([ID_country], [Название страны], [Английское название], [Код], [Код2]) VALUES (2, N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[country] ([ID_country], [Название страны], [Английское название], [Код], [Код2]) VALUES (3, N'Австрия', N'Austria', N'AT', 40)
GO
SET IDENTITY_INSERT [dbo].[country] OFF
GO
SET IDENTITY_INSERT [dbo].[juri] ON 

INSERT [dbo].[juri] ([ID_juri], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (1, N'Галкина Верона Васильевна', N'ж', N'obuckridge@sipes.com', NULL, 35, N'7(880)544-61-83', N'Дизайн', N'HHikbP', N'foto21.jpg')
INSERT [dbo].[juri] ([ID_juri], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (2, N'Герасимова Айлин Ефимовна', N'м', N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09T00:00:00.000' AS DateTime), 53, N'7(835)478-61-60', N'Дизайн', N'TuhRzy', N'foto22.jpg')
INSERT [dbo].[juri] ([ID_juri], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (3, N'Большаков Августин Алексеевич', N'ж', N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12T00:00:00.000' AS DateTime), 52, N'7(173)770-55-13', N'ИТ', N'4Y83lz', N'foto23.jpg')
SET IDENTITY_INSERT [dbo].[juri] OFF
GO
INSERT [dbo].[meet] ([№], [Событие], [DATE], [DAYS], [Город]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26T00:00:00.000' AS DateTime), 1, 34)
INSERT [dbo].[meet] ([№], [Событие], [DATE], [DAYS], [Город]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14T00:00:00.000' AS DateTime), 3, 34)
INSERT [dbo].[meet] ([№], [Событие], [DATE], [DAYS], [Город]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09T00:00:00.000' AS DateTime), 2, 2)
GO
SET IDENTITY_INSERT [dbo].[moder] ON 

INSERT [dbo].[moder] ([ID_moder], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (1, N'Виноградова Эмилия Валерьевна', N'женский', N'nl81b9i7s0ka@gmail.com', CAST(N'1991-10-25T00:00:00.000' AS DateTime), 90, N'7(16)788-42-97', N'Дизайн', N'IT-инфраструктура', N'22YyD83dMg', N'foto23.jpg')
INSERT [dbo].[moder] ([ID_moder], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (2, N'Гущина Кристина Львовна', N'женский', N'bxk06h5touyr@mail.com', CAST(N'1966-06-28T00:00:00.000' AS DateTime), 47, N'7(023)826-25-26', N'Информационная безопасность', N'Информационная безопасность', N't8F9hZXp89', N'foto16.jpg')
INSERT [dbo].[moder] ([ID_moder], [ФИО], [пол], [почта], [дата рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (3, N'Егорова Ева Михайловна', N'женский', N'doj5r1m8xnky@gmail.com', CAST(N'1987-06-15T00:00:00.000' AS DateTime), 80, N'7(05)441-48-14', N'ИТ', N'IT в бизнесе', N'3z86YDzaX8', N'foto14.jpg')
SET IDENTITY_INSERT [dbo].[moder] OFF
GO
SET IDENTITY_INSERT [dbo].[organizator] ON 

INSERT [dbo].[organizator] ([ID_organizator], [ФИО], [Почта], [Дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (1, N'Агафонов Давид Артёмович', N'lry2ko5t031w@gmail.com', CAST(N'1995-10-14T00:00:00.000' AS DateTime), 27, N'7(65)706-55-85', N'uy69Pp8DY6', N'foto8.jpg', N'мужской')
INSERT [dbo].[organizator] ([ID_organizator], [ФИО], [Почта], [Дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (2, N'Васильев Всеволод Давидович', N'6z92wongmash@tutanota.com', CAST(N'1988-10-16T00:00:00.000' AS DateTime), 51, N'7(354)903-53-67', N'Ke22Yh8Pp7', N'foto1.jpg', N'мужской')
INSERT [dbo].[organizator] ([ID_organizator], [ФИО], [Почта], [Дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (3, N'Власов Арсений Львович', N'sohzld6c52mv@gmail.com', CAST(N'1980-05-28T00:00:00.000' AS DateTime), 31, N'7(4297)539-13-81', N'T3uhc34E9Z', N'foto6.jpg', N'мужской')
SET IDENTITY_INSERT [dbo].[organizator] OFF
GO
SET IDENTITY_INSERT [dbo].[student] ON 

INSERT [dbo].[student] ([ID_student], [ФИО], [Почта], [дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (1, N'Ершова Нора Федотовна', N'techie@outlook.com', CAST(N'1987-03-26T00:00:00.000' AS DateTime), 71, 9604240711, N'tKKevv8%', N'foto60.jpg', N'женский')
INSERT [dbo].[student] ([ID_student], [ФИО], [Почта], [дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (2, N'Афанасьева Жанна Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04T00:00:00.000' AS DateTime), 34, 9306616931, N'huSfHm4$', N'foto61.jpg', N'ж')
INSERT [dbo].[student] ([ID_student], [ФИО], [Почта], [дата рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (3, N'Крылова Рая Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05T00:00:00.000' AS DateTime), 73, 9572656068, N'TlUwMw77%', N'foto62.jpg', N'жен')
SET IDENTITY_INSERT [dbo].[student] OFF
GO
USE [master]
GO
